body{
    text-align: center;
}


button{
    cursor: pointer;
    border: 1px solid #0052a0;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.dark{
    background-color: #6d6b6b;
    color: #e6e6e6;
}

